# Deployment used by `npx convex dev`
# added locale shtuff
CONVEX_DEPLOYMENT=dev:youthful-porcupine-423 # team: asianwater1, project: appdev2-final-exam

EXPO_PUBLIC_CONVEX_URL=https://youthful-porcupine-423.convex.cloud

EXPO_PUBLIC_CONVEX_SITE_URL=https://youthful-porcupine-423.convex.site
